.course-btn {
    padding: 10px 20px;
    background-color: #003366; /* Koyu Mavi Renk */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .course-btn:hover {
    background-color: #00599f;
  }
  
  .course-menu {
    margin-top: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
  .course-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .course-menu li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  
  .course-menu li:last-child {
    border-bottom: none;
  }
  